{% extends "mainpage/base_c.html" %}

{% block title %}
<title>Sweet Pants | Wishlist</title>
{% endblock title %}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Wishlist</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'customer-homepage' %}">Home</a></li>
						<li><a href="{% url 'wishlist' %}">wishlist</a></li>
						<li class="active">add to shopping cart</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<form method='POST'>
<div class="modal-dialog" role="document">
	<div class="modal-content">
	   <div class="modal-body">
			{% csrf_token %}
			<div class="product-quantity">
				<span>Quantity:</span>
				<div class="product-quantity-slider">
					<input id="product-quantity"  type="text" value="1" name="product-quantity">
				</div>
			</div>
			<span><button type="submit" class="btn btn-main btn-small btn-round">Add to Shopping Cart</button></span>
	   </div>
	</div>
 </div>
</form>

{% endblock content %}
