{% extends "mainpage/base_c.html" %}
{% load static %}

{% block title %}
<title>Library | Book Details</title>
{% endblock title %}

{% block content %}

<section class="single-book">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Book Details</h3>
                <br>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-book-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <div class='carousel-inner '>
                                <div class='item active'>
                                    {% if object.thumbnail %}
                                    <img src='{{ object.thumbnail }}' alt='{{ object.title }}' />
                                    {% else %}
                                    <img src='{% static 'mainpage/images/default-book.jpeg' %}' alt='{{ object.title }}' />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-book-details">
                    <h1>{{ object.title }}</h1>
                    <p>by {{ object.authors }}</p>
                    <br>
                    <div class="book-category">
                        <span>ISBN:</span>
                        <ul>
                            <li>{{ object.isbn_13 }}</li>
                        </ul>
                    </div>
                    <div class="book-category">
                        <span>Publisher:</span>
                        <ul>
                            <li>{{ object.publisher }}</li>
                        </ul>
                    </div>
                    <div class="book-category">
                        <span>Published Date:</span>
                        <ul>
                            <li>{{ object.published_date }}</li>
                        </ul>
                    </div>
                    <div class="book-category">
                        <span>Language:</span>
                        <ul>
                            <li>{{ object.language }}</li>
                        </ul>
                    </div>
                    <div class="book-category">
                        <span>Categories:</span>
                        <ul>
                            <li>{{ object.categories }}</li>
                        </ul>
                    </div>
                    <div class="book-category">
                        <span>Pages:</span>
                        <ul>
                            <li>{{ object.page_count }}</li>
                        </ul>
                    </div>
                    <div class="book-category">
                        <span>Availability:</span>
                        <ul>
                            <li>{{ object.available }} / {{ object.quantity }}</li>
                        </ul>
                    </div>
                    {% if request.user.groups.first.name == 'User' %}
                    <form method='POST'>
                    {% csrf_token %}
                    <div class="book-borrow">
                        {% if object.available > 0 %}
                        <button type="submit" class="btn btn-main btn-small btn-round">Borrow Book</button>
                        {% else %}
                        <button type="button" class="btn btn-secondary btn-small btn-round" disabled>Not Available</button>
                        {% endif %}
                    </div>
                    </form>
                    {% endif %}
                    {% if request.user.groups.first.name == 'Librarian' %}
                    <ul class="list-inline dashboard-menu text-center">
                        <br>
                        <li class="li"><a href="{% url 'book-edit' object.id %}" class="btn btn-main btn-small btn-round">EDIT BOOK</a></li>
                        <li class="li"><a href="{% url 'book-delete' object.id %}" class="btn btn-main btn-small btn-round">DELETE BOOK</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon mt-20">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Description</a></li>
                        <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews</a></li>
                    </ul>
                    <div class="tab-content patternbg">
                        <div id="details" class="tab-pane fade active in">
                            <h4>Book Description</h4>
                            <p>{{ object.description }}</p>
                        </div>
                        <div id="reviews" class="tab-pane fade">
                            <div class="post-comments">
                                <ul class="media-list comments-list m-bot-50 clearlist">
                                    {% if object.reviews.all %}
                                    {% for review in object.reviews.all %}
                                    <li class="media">
                                        <a class="pull-left">
                                            {% if review.user.profile.image %}
                                            <img class="media-object comment-avatar" src="{{ review.user.profile.image.url }}" alt="" width="50" height="50" />
                                            {% else %}
                                            <img class="media-object comment-avatar" src="{% static 'mainpage/images/default.jpg' %}" alt="" width="50" height="50" />
                                            {% endif %}
                                        </a>
                                        <div class="media-body">
                                            <div class="comment-info">
                                                <h4 class="comment-author">
                                                    <a href="#!">{{ review.user.username }}</a>    
                                                </h4>
                                                <time datetime="{{ review.date|date:'Y-m-d' }}">{{ review.date }}</time>
                                            </div>
                                            <p>{{ review.content }}</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <h4>No reviews yet!</h4>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}