{% extends "mainpage/base_c.html" %}

{% block title %}
<title>Sweet Pants | Order Confirmation </title>
{% endblock title %}

{% block content %}

<section class="page-wrapper success-msg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
        	<i class="tf-ion-android-checkmark-circle"></i>
          <h2 class="text-center">Thank you! For your payment</h2>
          <p>You can view your orders in Order section</p>
          <a href="{% url 'orders-customer' %}" class="btn btn-main mt-20">ORDERS</a>
          <a href="{% url 'customer-homepage' %}" class="btn btn-main mt-20">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}