{% extends "mainpage/base_c.html" %}

{% block title %}
<title>Sweet Pants | Checkout</title>
{% endblock title %}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Checkout</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'customer-homepage' %}">Home</a></li>
						<li><a href="{% url 'checkout' %}">checkout</a></li>
						<li class="active">apply coupon</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal-dialog" role="document">
	<div class="modal-content">
	   <div class="modal-body">
		  <form method='POST'>
			{% csrf_token %}
			 <div class="form-group">
				<input class="form-control" name='coupon' type="text" placeholder="Enter Coupon Code">
			 </div>
			 <button type="submit" class="btn btn-main">Apply Coupon</button>
		  </form>
	   </div>
	</div>
 </div>

{% endblock content %}
