{% extends "mainpage/base_c.html" %}
{% load static %}

{% block title %}
{% if request.user.groups.first.name == 'Librarian' %}
<title>Library | Librarian Homepage</title>
{% else %}
<title>Library | User Homepage</title>
{% endif %}
{% endblock title %}

{% block content %}

<section class="books section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Book Catalog</h2>
            </div>
        </div>
        <div class="row">
        {% for book in user_books %}
            <div class="col-md-4">
                <div class="book-item">
                    <div class="book-thumb" style="height:60vh;">
                        {% if book.thumbnail %}
                        <img class="img-responsive" style="height:60vh;" src="{{ book.thumbnail }}" alt="book-img" />
                        {% else %}
                        <img class="img-responsive" style="height:60vh;" src="{% static 'mainpage/images/default-book.jpeg' %}" alt="book-img" />
                        {% endif %}
                        <div class="preview-meta">
                            <ul>
                                <li>
                                    <a href="{% url 'book-detail' book.id %}" ><i class="tf-ion-ios-search-strong"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="book-content">
                        <h4><a href="{% url 'book-detail' book.id %}">{{ book.title }}</a></h4>
                        <p>by {{ book.authors }}</p>
                        <p>Available: {{ book.available }} / {{ book.quantity }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="block text-center">
        {% if user_books.has_other_pages %}
            {% if user_books.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ user_books.previous_page_number }}">Previous</a>
            {% endif %}
      
            {% for num in user_books.paginator.page_range %}
              {% if user_books.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > user_books.number|add:'-3' and num < user_books.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
      
            {% if user_books.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ user_books.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ user_books.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
        </div>
    </div>
</section>

{% if is_librarian %}
<section class="books section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>All Books (Librarian View)</h2>
            </div>
        </div>
        <div class="row">
        {% for book in all_books %}
            <div class="col-md-4">
                <div class="book-item">
                    <div class="book-thumb" style="height:50vh;">
                        {% if book.thumbnail %}
                        <img class="img-responsive" style="height:50vh;" src="{{ book.thumbnail }}" alt="book-img" />
                        {% else %}
                        <img class="img-responsive" style="height:50vh;" src="{% static 'mainpage/images/default-book.jpeg' %}" alt="book-img" />
                        {% endif %}
                        <div class="preview-meta">
                            <ul>
                                <li>
                                    <a href="{% url 'book-detail' book.id %}" ><i class="tf-ion-ios-search-strong"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="book-content">
                        <h4><a href="{% url 'book-detail' book.id %}">{{ book.title }}</a></h4>
                        <p>by {{ book.authors }}</p>
                        <p>Available: {{ book.available }} / {{ book.quantity }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}