{% extends "mainpage/base_c.html" %}
{% load post_tags %}
{% load static %}

{% block title %}
<title>Sweet Pants | Product Details</title>
{% endblock title %}

{% block content %}

<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Product Details</h3>
				<br>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
									{% if object.image %}
									<img src='{{ object.image.url }}' alt='' />
									{% else %}
									<img src='{% static 'mainpage/images/default-product.jpeg' %}' alt='' />
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h1>{{ object.title }}</h1>
					<br>
					{% if object.discount %}
					<p class="product-price"><h3 style='text-decoration : line-through'>Rs.{{ object.price }}/month</h3>
						<h5>{{ object.discount }}% OFF</h5>
						<h2>Rs.{{ object.discounted_price }}/month</h2>
					</p>
					{% else %}
					<p class="product-price"><h3>Rs.{{ object.price }}/month</h3></p>
					{% endif %}
					<br>
					<div class="color-swatches">
						<span>color:</span>
						<ul>
							<li>
								<a href="#!" class="swatch-violet"></a>
							</li>
							<li>
								<a href="#!" class="swatch-black"></a>
							</li>
							<li>
								<a href="#!" class="swatch-cream"></a>
							</li>
						</ul>
					</div>
					<div class="product-size">
						<span>Size:</span>
						<select class="form-control">
							<option>S</option>
							<option>M</option>
							<option>L</option>
							<option>XL</option>
						</select>
					</div>
					<div class="product-category">
						<span>Categories:</span>
						<ul>
							<li><a>{{object.category}}</a></li>
						</ul>
					</div>
					<div class="product-category">
						<span>Vendor:</span>
						<ul>
							<li><a>{{ object.vendor }}</a></li>
						</ul>
					</div>
					<div class="product-category">
						<span>Quantity Available:</span>
						<ul>
							<li>{{ object.quantity }}</li>
						</ul>
					</div>
					<div class="product-category">
						<span>Location:</span>
						<ul>
							<li><a>{{object.location}}</a></li>
						</ul>
					</div>
					{% if object.discount %}
					<div class="product-category">
						<span>Discount:</span>
						<ul>
							<li>{{ object.discount }}% OFF</li>
						</ul>
					</div>
					{% endif %}
					<form method='POST'>
					{% csrf_token %}
					<div class="product-quantity">
						{% if request.user|has_group:'Customer' %}
						<span>Quantity:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity"  type="text" value="1" name="product-quantity">
						</div>
						<span></span>
						<span><button type="submit" class="btn btn-main btn-small btn-round">Add to Shopping Cart</button></span>
						{% endif %}
						<span></span>
						{% if request.user|has_group:'Customer' or request.user|has_group:'nouser' %}
						<span><a href="{% url 'add_to_wishlist' object.id %}" class="btn btn-main btn-small btn-round">ADD TO WISHLIST</a></span>
						{% endif %}
					</div>
					</form>
					{% if request.user|has_group:'Vendor' %}
					<ul class="list-inline dashboard-menu text-center">
						<br>
						<li class="li"><a href="{% url 'product-edit' object.id %}" class="btn btn-main btn-small btn-round">EDIT PRODUCT</a></li>
						<li class="li"><a href="{% url 'product-delete' object.id %}" class="btn btn-main btn-small btn-round">DELETE PRODUCT</a></li>
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>Product Description</h4>
							<p>{{ object.description }}</p>
						</div>
						<div id="reviews" class="tab-pane fade">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">
								    <!-- Comment Item start-->
									{% if object.reviews.all %}
									{% for i in object.reviews.all %}
								    <li class="media">
										<a class="pull-left">
											{% if i.customer.profile_customer.image %}
											<img class="media-object comment-avatar" src="{{ i.customer.profile_customer.image.url }}" alt="" width="50" height="50" />
											{% else %}
											<img class="media-object comment-avatar" src="{% static 'mainpage/images/default.jpg' %}" alt="" width="50" height="50" />
											{% endif %}
								        </a>
								        <div class="media-body">
								            <div class="comment-info">
								                <h4 class="comment-author">
								                    <a href="#!">{{ i.customer }}</a>	
								                </h4>
								                <time datetime="2013-04-06T13:53">{{ i.date }}</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>
								            <p>{{ i.description }}</p>
								        </div>
									</li>
									{% endfor %}
									{% else %}
									<h4>No reviews yet!</h4>
									{% endif %}
								    <!-- End Comment Item -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}